/* styles */

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* log-in styles */

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    margin-left: 1.95rem;
    width: 70%;
    height: auto;
}

.login-content-container {
    margin-bottom: 9.71875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34.375rem;
    height: 36.4375rem;
    border-radius: 0.3125rem;
    background: var(--Dark-greenblue, #718F94);
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.58);
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Sans Serif Collection";
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Sans Serif Collection";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.login-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19rem;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #000;
    background: #D9D9D9;
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25) inset;
    margin-bottom: 2rem;
}


.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.0625rem;
    height: 3.375rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: var(--Greyblue, #545775);
}



p {
    color: #FFF;
    font-family: "Microsoft Sans Serif";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup-redirection {
    background: none;
    border: none;
    color: var(--Greyblue, #545775);
    font-family: "Microsoft Sans Serif";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5rem;
}

/* sign-up styles */

.signup-container {
    margin-top: 10.28125rem;
    margin-bottom: 10.28125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 41.5625rem;
    height: 43.4375rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: var(--Lightgreen, #BFC8AD);
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.43);
}

.signup-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Sans Serif Collection";
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 3.5rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;   
}

.signup-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Sans Serif Collection";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.firstname-input, .lastname-input,
.email-signup-input, .password-signup-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19rem;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #000;
    background: #D9D9D9;
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25) inset;
    margin-bottom: 1rem;
}

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.0625rem;
    height: 3.375rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: var(--Greyblue, #545775);
    margin-top: 1rem;
}

.login-redirection {
    margin-top: 0.5rem;
    background: none;
    border: none;
    color: var(--Greyblue, #545775);
    font-family: "Microsoft Sans Serif";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* landing-page styles */

.landing-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.landing-page-header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5.0625rem;
    background: var(--Greyblue, #545775);
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
    padding: 0 1rem;
    margin: 0;
}

.landing-header-menu,
.landing-header-namedisplay {
    color: white;
    font-family: "Sans Serif Collection";
    margin: 0 0.5rem;
}

.landing-header-logo {
    display: flex;
    align-items: center;
}

.landing-header-logo img {
    max-width: 30%;
    max-height: 30%;
}

.logout-button {
    width: 4.53rem;
    height: 1.68rem;
    border-radius: 0.3125rem;
    color: white;
}